@model ungdunghocthongminh.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "Quên mật khẩu?";
    Layout = "~/Views/Shared/_LayoutOut.cshtml";
}
<link href="~/Content/quenmk.css" rel="stylesheet" />
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="/">
                    <img src="~/Content/assest/img/logo.jpg" alt="Logo" class="img-fluid" />
                </a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">
                    Bạn quên mật khẩu? Tại đây bạn có thể dễ dàng lấy lại mật khẩu mới.
                </p>
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="input-group mb-3">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Nhập email của bạn" })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                    <div class="d-flex justify-content-center mt-3">
                        <input type="submit" class="btn btn-primary btn-block" value="Gửi email xác nhận" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
